---
import Datetime from "./Datetime";
import type { BlogFrontmatter } from "@content/_schemas";
import { slugifyStr } from "@utils/slugify";

export interface Props {
  href?: string;
  frontmatter: BlogFrontmatter;
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props;
const { title, pubDatetime, description } = frontmatter;

const transitionName = slugifyStr(title.replaceAll(".", "-"));
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      secHeading ? (
        <h2
          class="text-lg font-medium decoration-dashed hover:underline"
          transition:name={transitionName}
        >
          {title}
        </h2>
      ) : (
        <h3
          class="text-lg font-medium decoration-dashed hover:underline"
          transition:name={transitionName}
        >
          {title}
        </h3>
      )
    }
  </a>
  <Datetime datetime={pubDatetime} />
  <p>{description}</p>
</li>
