---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>ูุฑุญุจุง ุจูู ูู ุงูุณูุฑู</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        ๐ ูุฑุญุจูุงุ ุงุณูู ุฏูููุฏ ุนูุถุ ุฃูุง ูุญุงูู ููููุฏุณ ููุณุชุซูุฑ ุฃููู ุจุจูุงุก ูุฅุฏุงุฑุฉ ุฃุนูุงู ูุฑุจุญุฉ ูุน ุงูุชุฑููุฒ ุนูู ุงูุชูููููุฌูุง ุงูุนูููุฉ ููุณุชูุจู ุงูููุณูุฉ ูุงููุงูุน. ูุฐู ูุฏููุชู ุงูุดุฎุตูุฉ ููููุน ุฃุนูุงูู. ููุฏ ูุฌุฏุช ุฃู ุงูุนุฏูุฏ ูู ุงูุฃุดุฎุงุต ุงูุฐูู ุฃุนุฌุจุช ุจูู ูุญุชูุธูู ุจูุฏููุงุช ูุซู ูุฐู ุจุฏุฑุฌุงุช ูุชูุงูุชุฉ ูู ุงูุชุฑุฏุฏ.
       </p>
    </br>
    <p>
    ุฃูุง ูุง ุฃูุชุจ ูุซูุฑูุงุ ูุง ุชูุฌุฏ ุฑุณุงุฆู ุฅุฎุจุงุฑูุฉุ ูุง ููุฌุฏ "ูุญุชูู" ูุฃูุง ูุง ุฃุจุญุซ ุนู ููุงููุฉ ุงูุขุฎุฑููุ ูุฐู ููุณุช ุงูุทุฑููุฉ ุงูุชู ุชุฌุฏ ุจูุง $\alpha$ ูููุณุช ูู ุงูููุงู ุงูุฐู ุชุตูุน ููู ุงูููู.
    </p>
    <p>
      ๐ธ ุฅุฐุง ููุช ุชุจุญุซ ุนู ุงูุนูู ูุนู ููุงุณุชุดุงุฑุงุช ุฃู ุงููุดูุฑุฉุ ูุฑุฌู ุฒูุงุฑุฉ <LinkButton className="hover:text-skin-accent underline underline-offset-4 decoration-dashed" href="https://awad.consulting">ููุง</LinkButton> ููุฒูุฏ ูู ุงููุนูููุงุช.
    </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">ุฑูุงุจุท ุงุฌุชูุงุนูุฉ:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>ุงููุดุงุฑูุงุช ุงููููุฒุฉ</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>ุฃุญุฏุซ ุงููุดุงุฑูุงุช</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          ูู ุงููุดุงุฑูุงุช
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
