---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";
import Pagination from "@components/Pagination.astro";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"blog">[];
}

const { pageNum, totalPages, posts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <ul>
      {
        posts.map(({ data }) => (
          <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    pageNum={pageNum}
    totalPages={totalPages}
    prevUrl={`/posts${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
    nextUrl={`/posts/${pageNum + 1}`}
  />
  <Footer noMarginTop={totalPages > 1} />
</Layout>
